<div>
    {% if messages %}
        {% for mes in messages %}
            <p>{{mes}}</p>
        {% endfor %}
    {% endif %}
</div>
<div>
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p>{{ field.label }}: {{ error }}</p>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
<div>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{error}}</p>
        {% endfor %}
    {% endif %}
</div>