<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add post</title>
</head>

<body>
    <a href="{% url 'kavi:posts' %}">posts</a>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">submit</button>
        <select name="category" id="">
            {% if category %}
                {% for cate in category %}
                    <option 
                        {% if post and post.category and post.category.id == cate.id %}
                            selected
                        {% endif %}
                        value="{{ cate.id }}">
                        {{ cate.name }}
                    </option>
                {% endfor %}
            {% endif %}
        </select>
        

    </form>
</body>

</html>