<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add to vis members</h1>
    {% for v in vis %}
        <p>{{v.name}}</p>
    {% endfor %}
    {% if messages %}
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        {{form.as_p}}
        <button type="submit">submit</button>
    </form>
</body>
</html>